<%- include("partials/header") -%>

    <div class="homecontainer">
        <h1>Welcome to Todo App</h1>
        <div class="">
            <a href="/register" class="btn">Register</a>
            <a href="/login" class="btn">Login</a>
        </div>
    </div>
    <%- include("partials/footer") -%>

